.pull-right, .pull-left {
  background-color: rgba(85, 107, 96, 0.3); 
}

.frog { 
  font-family: 'Book Antiqua';
  font-size: "250%"; 
  font-weight: normal;
  font-style: italic;
}

.green{
  color: #556B2F;
}

a, a > code {
  color: #153f3c;
  text-decoration: none;
  text-shadow: 1px 1px 2px #b7fff9;
}