.page-layout-cover {
  background-image: url('/static/img/jj-pro.png');
  background-size: contain, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  color: white;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}
